<nav class="breadcrumb">
  <span class="breadcrumb-item active">Main Page</span>
</nav>

<div class="row">
  <div class="col-md-9">
    <div *ngFor = "let category of categories">
      <h2 class="h4 forum-category mb-0 p-4 rounded-top">
        <a routerLink="/category/{{category.id}}" class="text-white">{{category.name}}</a>
      </h2>
      <table class="table table-bordered table-responsive-xl">
        <thead class="thead">
          <tr>
            <th scope="col" class="forum-col" colspan="1">Forum</th>
            <th scope="col">Topics</th>
            <th scope="col">Posts</th>
            <th scope="col" class="last-post-col">Last post</th>
          </tr>
        </thead>
        <tbody *ngFor = "let discussion of category.discussions">
          <tr>
            <td>
              <h3 class="h5 mb-0"><a routerLink="/category/{{category.id}}/forum/{{discussion.id}}" class="text-uppercase">{{discussion.name}}</a></h3>
              <p class="mb-0">{{discussion.description}}</p>
            </td>
            <td>
              <div>{{discussion.topics_count}}</div>
            </td>
            <td>
              <div>{{discussion.posts_count}}</div>
            </td>
            <td>
              <h4 class="h6 mb-0 font-weight-bold"><a href="post.html">Post name</a></h4>
              <div>by <a href="#0">Author name</a></div>
              <div>05 Apr 2017, 20:07</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div> 
  </div>
  <div class="col-md-3">
    <aside>
      <div class="card">
        <div class="card-body">
          <h2 class="h4 card-title">Forum statistics</h2>
          <dl class="row mb-0">
            <dt class="col-8">Total forums:</dt>
            <dd class="col-4 mb-0">{{this.getForumsCount()}}</dd>
          </dl>
          <dl class="row mb-0">
            <dt class="col-8">Total topics:</dt>
            <dd class="col-4 mb-0">186</dd>
          </dl>
          <dl class="row mb-0">
            <dt class="col-8">Total posts:</dt>
            <dd class="col-4 mb-0">1927</dd>
          </dl>
          <dl class="row mb-0">
            <dt class="col-8">Total members:</dt>
            <dd class="col-4 mb-0">581</dd>
          </dl>
        </div>
        <div class="card-footer">
          <div>Newest member:</div>
          <div><a href="#0">Forum member name</a></div>
        </div>
      </div>
    </aside>
  </div>
</div> 
