  <div></div>
  <nav class="breadcrumb">
    <span><button (click)="goBack()" class="btn btn-sm btn-outline-info margin-r">Back</button></span>
    <span class="breadcrumb-item active">{{topic.title}}</span>
  </nav>
  <div col-md-12>
    <p><span class="mr-5">
      <span style="color: lightslategrey;">Asked:</span>
      {{ topic.date | date:'dd MMM y, mm:ss' }}
    </span><span style="color: lightslategrey;">Views:</span> {{ topic.views}}
  </p>
  <hr>
</div>
<div class="col-12">
  <h2 class="h4 text-white bg-info mb-0 p-4 rounded-top">{{ topic.title}}</h2>
  <div *ngIf="this.logged && this.isAdmin != null">  
    <input type="text" [(ngModel)]="title" class="w-50" placeholder="{{topic.title}}"/>
    <span><button (click)="save()" class="btn btn-sm btn-outline-info margin-r">Save</button></span>
  </div>


<!--  TODO: update later-->
<!--  <div style="margin-top:1em">-->
<!--    <span class="margin-r">-->
<!--      <label>-->
<!--        <input [(ngModel)]="topic[0].title" placeholder="Title"/>-->
<!--      </label>-->
<!--    </span>-->
<!--    <span><button (click)="save()" class="btn btn-sm btn-outline-info margin-r">Save</button></span>-->
<!--  </div>-->

  <table class="table table-striped table-bordered table-responsive-xl">
    <thead class="thead-light">
      <tr>
        <th scope="col">Author</th>
        <th scope="col">Message</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="author-col">
          <div>Asked by <a href="#">{{ topic.author}}</a></div>
        </td>
        <td>
          <p>{{topic.description}}</p>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngFor = "let commentary of topic.comments">
  <table class="table table-striped table-bordered table-responsive-xl">
    <tbody>
      <tr>
        <td class="author-col">
          <div><p>Answered by:</p> <a href="#">{{commentary.author}}</a></div>
          <div *ngIf="this.logged && this.isAdmin != null"><button (click)="deleteCommentary(commentary.id)" class="btn btn-sm btn-outline-info margin-r margin-t">Delete comment</button></div>
        </td>
        <td class="post-col d-lg-flex justify-content-lg-between">
          <div><span class="font-weight-bold"><h6>Subject:</h6></span> Forum post title with a complex and long question.</div>
          <div><span class="font-weight-bold"><h6>Posted:</h6></span>{{commentary.date | date:'dd MMM y, mm:ss' }}</div>
        </td>
      </tr>
      <tr>
        <td>
          <div><span class="font-weight-bold">Joined:</span><br>03 Apr 2017, 13:46</div>
          <div><span class="font-weight-bold">Posts:</span><br>123</div>
        </td>
        <td>
          <p>{{commentary.content}}</p><p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>

<div ></div>


  <div *ngIf = "this.logged!; else noComments" class="text-center">
  <div class="form-group mb-3">
    <label for="comment">Reply to this post:</label>
    <textarea class="form-control" [(ngModel)]="commentDescription" id="comment" rows="10" placeholder="Write your comment here." required="" ></textarea>
  </div>
  <button type="submit" class="btn btn-primary mr-1" (click)="addComment()">Reply</button>
</div>

<ng-template #noComments>
  <div class="text-center"><b>You need to <a routerLink="/login" href="">sign in</a> to reply</b></div>
</ng-template>
